<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HAPI APP</title>

    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link type="text/css" href="css/main.css" rel="stylesheet">

    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/file-download/jquery.fileDownload.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>

    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
    <script src="js/filter.js"></script>
</head>

<body ng-app="hapi">
<div id="invoice" class="container" ng-controller="MainController">
    <div class="row">
        <div class="col-md-12 title text-center">Faktura VAT</div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            Nr <input id="invoice-number" class="input" type="text" value="{{invoiceNumber}}" placeholder="numer faktury" ng-model="invoiceNumber" maxlength="16" required>
        </div>
    </div>

    <div id="dates">
        <div class="row info">
            <div class="col-md-3">Data sprzedaży:</div>
            <div class="col-md-2">
                <input id="delivery-date" class="input" type="text" value="{{deliveryDate}}" ng-model="deliveryDate" maxlength="10" required/>
            </div>
        </div>

        <div class="row info">
            <div class="col-md-3">Data wystawienia faktury:</div>
            <div class="col-md-2">
                <input id="issue-date" class="input" type="text" value="{{issueDate}}" ng-model="issueDate" maxlength="10" required/>
            </div>
        </div>
    </div>

    <div class="row parties">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr class="active">
                        <th>Sprzedawca</th>
                        <th>Nabywca</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <textarea placeholder="{{sellerInfoPlaceholder}}" maxRows="7" ng-model="sellerInfo" required></textarea>
                        </td>
                        <td>
                            <textarea placeholder="{{buyerInfoPlaceholder}}"  rows="7" ng-model="buyerInfo" required></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <table id="product-table" class="table table-bordered table-condensed table-hover products">
                <thead>
                <tr class="active">
                    <th class="prod-lp">Lp.</th>
                    <th class="prod-name">Produkt/Usługa</th>
                    <th>Ilość</th>
                    <th>Cena netto</th>
                    <th>Wartość netto</th>
                    <th>VAT</th>
                    <th>Kwota VAT</th>
                    <th>Wartość brutto</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items track by $index">
                    <td class="prod-lp">{{$index + 1}}</td>
                    <td class="prod-name">
                        <input type="text" placeholder="nazwa produktu lub usługi" ng-model="item.name" required/>
                    </td>
                    <td class="prod-amount number">
                        <input type="text" class="control" maxlength="3" pattern="[0-9]+" ng-model="item.amount" ng-blur="updateItem(item)" required/>
                    </td>
                    <td class="prod-price number">
                        <input type="text" class="control" maxlength="8" pattern="[0-9]+([\,|\.][0-9]+)?" ng-model="item.price" ng-blur="updateItem(item)" required/>
                    </td>
                    <td class="prod-value number">{{item.value | asMoney}}</td>

                    <td class="prod-vat-percent number">
                        <input type="text"  maxlength="2" ng-model="item.vatPercent" ng-blur="updateItem(item)" required/><span class="percent-sign">%</span>
                    </td>
                    <td class="prod-vat-value number">{{item.vatValue | asMoney}}</td>
                    <td class="prod-total-cost number">{{item.totalValue | asMoney}}</td>
                </tr>

                <tr class="bold">
                    <td class="prod-sum" colspan="4">Suma [PLN]</td>
                    <td class="prod-value number">{{totalNetto | asMoney}}</td>
                    <td class="prod-vat-percent number"> </td>
                    <td class="prod-vat-amount number">{{totalVAT | asMoney}}</td>
                    <td class="prod-total-cost number">{{totalBrutto | asMoney}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-default btn-xs" ng-click="addNewItem()">Dodaj pozycję</button>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-default btn-xs" ng-click="removeItem()">Usuń pozycję</button>
        </div>
    </div>

    <div class="row info" id="payment">
        <div class="col-md-12">Do zapłaty: <span class="total-amount">{{totalBrutto | asMoney}} PLN </span>({{totalBruttoText}} PLN {{totalBruttoGrosze}}/100)</div>
    </div>

    <div class="row info">
        <div class="col-md-3">Termin płatności:</div>
        <div class="col-md-2">
            <input id="payment-period" class="input" type="text" value="{{paymentPeriod}}" ng-model="paymentPeriod" maxlength="10"/>
        </div>
    </div>

    <div class="row info">
        <div class="col-md-3">Forma płatności:</div>
        <div class="col-md-2">
            <input id="payment-form" class="input" type="text" value="{{paymentForm}}" ng-model="paymentForm" maxlength="10"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-push-6 text-center">
            <input id="issuer-name" class="input" type="text" value="{{issuerName}}" ng-model="issuerName" placeholder="imię i nazwisko" maxlength="40" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-6 text-center">osoba wystawiająca fakturę</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-danger" ng-click="clearAll()">Wyczyść wszystko</button>
            <button type="button" class="btn btn-success" ng-click="generateInvoice()">Pobierz fakturę</button>
        </div>
    </div>

</div>
</body>
</html>